[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
google-cloud-bigquery = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
tensorflow = "*"
google-cloud-datastore = "*"
jupyter = "*"
tensorboard = "*"

[requires]
python_version = "3.6"
